body {
	overflow-x: hidden;
	word-wrap: normal;
	word-break: keep-all;
	padding-top: 100px;
	background-color: #eee;
}

.login {
	background-image: linear-gradient(to right,#000,#060,#fff,#060,#000);
	background-size: 400% 400%;
	animation: Gradient 120s ease infinite;
	-webkit-animation: Gradient 1200s infinite;
	-moz-animation: Gradient 120s infinite;	
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.font {
	font-family: "Raleway",sans-serif;
	font-weight: lighter;
	font-size: 30px;
}

.photo {
	max-width: 100%;
	max-height: 100%;
	border-top-left-radius: 20px;
}

.post_photo {
	max-width: auto;
	max-height: 300px;
}

.navigation {
	font-family: Raleway,,sans-serif;
	font-weight: lighter;
	font-size: 20px;
}

.navbar {
    background-color: #313131;							/* Navbar */
    border: 0;
    margin: 0;
    padding: 0;
}

.navbar-brand span,
.navbar-brand span:hover {
	color: #a1a1a1;
}

.navbar-default .navbar-right li a:hover {			/* Tasti Navbar posizionati a destra (cursore sopra) */
	color: #00ff00;
}

.navbar-default .navbar-right li a{ 					/* Tasti Navbar posizionati a destra */
	color: #a1a1a1;
}

.navbar-default .navbar-nav li a:hover { 				/* Tasti Navbar (cursore sopra) */
	color: #c1c1c1;
}

.navbar-default .navbar-nav li a{ 						/* Tasti Navbar */
	color: #a1a1a1;
}

.dropdown.open > a {
	background-color: #313131 !important;
}
.dropdown > a:hover {
	color: #c1c1c1 !important;
}

.dropdown > a {
	color: #a1a1a1 !important;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a {
	color: #c1c1c1;
	text-align: center;
	background-color: #313131;
}

.dropdown-menu {
	background-color: #313131;
	border: 1px solid #a1a1a1;
}

.panel-heading {
	background-color: #aeeaae !important;
	color: black;
	text-align: center;
	font-size: 25px;
}

.panel-default {
	border: 0;
}

#bacheca_posts {
	background-color: #dffddf;
}

.chat {
	width: 20%;
	position: fixed;
	background-color: #00f;
	z-index: 9;
	margin: 0;
	padding: 0;
	border: 0;
}

.nomi {
	height: 100%;
	width: 15%;
	position: fixed;
	background: linear-gradient(to bottom,#626262,#949494);
	z-index: 10;
	margin: 0;
	padding: 0;
	border: 0;
	top: 50;

}

.btnName {
	height: 6.25% !important;
	padding: 2 !important;
	margin: 0 !important;
	display: inline;
	background-color: #aeeaae;
	border: 1px solid black;
}

.btnX {
	height: 6.25% !important;
	padding: 2 !important;
	margin: 0 !important;
	display: inline;
	background-color: #aeeaae;
}

.chat > div:first-child {
	position: absolute;
	background-color: #000000;
	height: 6.25%;/*25px*/
	width: 100%;
}

#buttons {
	overflow: hidden;
	position: absolute;
	height: 6.5%;/*25px*/
	width: 100%;
	background-color: #aeeaae;
}

.resizeChat {
	position: absolute;
	left: 60%;
	margin: 0;
	padding: 0;
}

.closeChat {
	position: absolute;
	left: 90%;
	margin: 0;
	padding: 0;
}

.glyphicon-resize-small,
.glyphicon-remove {
	position: absolute;
	color: white;
}

.chat > div:first-child > .glyphicon-resize-small {
	left: 87.5%;
}

.chat > div:first-child > .glyphicon-remove {
	left: 93.75%;
}

#text {
	width: 100%;
	resize: none;
	border: 1px solid black;
	font-family: 'Times New Roman';
	color: black;
	overflow: hidden;
	position: absolute;
	bottom: 0;
	background-color: #fff;
}

.form-control {				//L'area dove scrivere i post non deve essere ridimensionata manualmente
	resize: none;
}

.chat_div {
	width: 100%;
	position: absolute;
	left: 0;
	background-color: #444;
	border-bottom: 1px solid black;
	overflow: auto;
	overflow-x: hidden;
	word-wrap: normal;
}

.chatMex {
	max-width: 50%;
	display: border;
	word-wrap: break-word;
	border-radius: 20px;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 2%;
	padding-right: 2%;
	margin-top: 2%;
	margin-bottom: 2%;                    
}

#nick {
	text-align: center;
	font-weight: bold;
}

#bacheca {
	border-top: 2px solid white;
}

.icon {
	position: absolute;
	text-align: center;
	display: block;
}

.homeImage {
	border-top-left-radius: 20px;
}

.homeGroups {
	border-bottom-left-radius: 20px; 
}

#post_page {
	text-align: left;
	border: 0;
	margin: 0;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}